/* small buttons */

.button-root,
.text-only-sm,
.icon-only-sm,
.icon-and-text-sm,
.text-only-md,
.icon-only-md,
.icon-and-text-md {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.text-only-sm {
  height: 32px;
  padding-right: var(--spacing-x100);
  padding-left: var(--spacing-x100);
  gap: var(--spacing-x025);
}

.icon-only-sm {
  height: 32px;
  width: 44px;
}

.icon-and-text-sm {
  height: 32px;
  padding-right: var(--spacing-x100);
  padding-left: var(--spacing-x075);
  gap: var(--spacing-x025);
}

/* md buttons */

.text-only-md {
  height: 44px;
  padding-right: var(--spacing-x100);
  padding-left: var(--spacing-x100);
  gap: var(--spacing-x025);
}

.icon-only-md {
  height: 44px;
  width: 60px;
}

.icon-and-text-md {
  height: 44px;
  padding-right: var(--spacing-x100);
  padding-left: var(--spacing-x075);
  gap: var(--spacing-x025);
}
