:root {
  /* light */
  /* colors */
  --black: #353535;
  --green-success: #2dac32;
  --light-grey: #adadad;
  --white: #ffffff;
  --bdr-disabled: #a3a4a8;
  --bdr-neutral: var(--light-grey);
  --bdr-primary: var(--black);
  --bg-base: var(--white);
  --bg-base-hover: #e5e5e5;
  --bg-disabled: #bec0c2;
  --bg-page: var(--white);
  --bg-primary: var(--black);
  --bg-primary-hover: #434343;
  --brand-most-used: #a7e15e;
  --fg-disabled: #81878e;
  --fg-neutral: var(--light-grey);
  --fg-on-primary: var(--white);
  --fg-primary: var(--black);
  --fg-success: var(--green-success);
  --fg-text-primary: var(--black);
  /* numbers */
  --spacing-x000: 0rem;
  --spacing-x150: 0rem;
  --spacing-x025: 0.25rem;
  --spacing-x050: 0.5rem;
  --spacing-x075: 0.75rem;
  --spacing-x100: 1rem;
  --spacing-x125: 1.25rem;
  --spacing-x200: 2rem;
  --spacing-x300: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* core */
    --black: #2c2c2c;
    --green-success: #2dac32;
    --lightgrey: #adadad;
    --white: #ffffff;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-civil-premium);
}

button {
  all: unset;
}
